* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000
}

nav ul li a:hover {
    color: #fc7061;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 { 
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #4c5464;
    font-weight: 100;
    margin: 20px 0 10px;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fc7061, #fa574b );
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#ff469f, #ff6062);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 .player {
    width: 60%;
    border-radius: 12px;
}

.color-box {
    position: absolute;
    right: 0;
    top: -25px;
    background: linear-gradient(#fc7061, #fa574b);
    border-radius: 20px 0 0 20px;
    height: 120%;
    width: 100%;
    z-index: -1;
    transform: translateX(150px);
}

.about h2 {
    padding-left: 80px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-weight: 800;
    margin: 0;
}

.about #the {
    padding-left: 80px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}
.social-links img {
    height: 13px;
    margin: 20px;
    cursor: pointer;
}

.social-links {
    text-align: center;
}

@media only screen and (max-width:700px) {
    nav ul {
        width: 100%;
        background: linear-gradient(#fc7061, #fa574b);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }    

    .menu-icon {
        display: block;
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }

    .row {
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-2 {
        flex-basis: 100%;
        margin-bottom: 50px;
    }

    .col-2 .player {
        width: 70%
    }

    .color-box {
        transform: translateX(75px);
    }

    .col-1 {
        flex-basis: 100%;
    }

    .col-1 h2 {
        font-size: 35px;
    }

    .col-1 h3 {
        font-size: 15px;
    }
}